In [1]:
#Imports
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data\house-votes-84.data.csv",header=None)

In [3]:
df.head()

           0  1  2  3  4  5  6  7  8  9  10 11 12 13 14 15 16
0  republican  n  y  n  y  y  y  n  n  n  y  ?  y  y  y  n  y
1  republican  n  y  n  y  y  y  n  n  n  n  n  y  y  y  n  ?
2    democrat  ?  y  y  ?  y  y  n  n  n  n  y  n  y  y  n  n
3    democrat  n  y  y  n  ?  y  n  n  n  n  y  n  y  n  n  y
4    democrat  y  y  y  n  y  y  n  n  n  n  y  ?  y  y  y  y

In [4]:
df.columns = ['Class Name',
              'handicapped-infants',
              'water-project-cost-sharing',
              'adoption-of-the-budget-resolution', 
              'physician-fee-freeze',
              'el-salvador-aid',
              'religious-groups-in-schools',
              'anti-satellite-test-ban',
              'aid-to-nicaraguan-contras',
              'mx-missile',
              'immigration',
              'synfuels-corporation-cutback',
              'education-spending',
              'superfund-right-to-sue',
              'crime',
              'duty-free-exports',
              'export-administration-act-south-africa']

In [5]:
df.head()

,Class Name,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,republican,n,y,n,y,y,y,n,n,n,y,?,y,y,y,n,y
1,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,?
2,democrat,?,y,y,?,y,y,n,n,n,n,y,n,y,y,n,n
3,democrat,n,y,y,n,?,y,n,n,n,n,y,n,y,n,n,y
4,democrat,y,y,y,n,y,y,n,n,n,n,y,?,y,y,y,y

In [6]:
df['handicapped-infants'].describe()

count     435
unique      3
top         n
freq      236
Name: handicapped-infants, dtype: object

In [7]:
df = df.replace('?', np.nan)

In [8]:
import missingno as msno

msno.matrix(df.iloc[:,0:16],figsize=(16,2))

In [9]:
df = df.sample(frac=1)

In [10]:
df.head()

,Class Name,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
135,republican,n,n,n,y,y,y,n,n,n,y,n,y,y,y,n,n
330,republican,n,y,n,y,y,y,n,n,n,y,n,y,y,y,n,n
127,democrat,n,NaN,y,n,n,n,y,y,y,y,y,n,n,y,y,y
427,republican,n,n,n,y,y,y,y,y,n,y,n,y,y,y,n,y
344,democrat,n,n,y,n,n,n,y,y,y,y,y,n,n,n,y,y

## Binning

In [11]:
bins = np.array_split(df, 10)

In [12]:
bins[1].describe()

,Class Name,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
count,44,44,40,44,44,42,43,43,44,43,43,40,41,44,43,43,41
unique,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
top,republican,n,n,n,y,y,y,n,n,n,y,n,y,y,y,n,y
freq,23,30,24,25,25,28,30,29,27,28,23,27,21,27,31,27,29

In [13]:
trainBins = np.array_split(df, 10)
trainBins.remove(trainBins[0])

In [14]:
trainSet = pd.concat(trainBins)

In [15]:
trainSet.describe()

,Class Name,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
count,391,380,347,380,380,376,380,377,376,369,385,372,364,369,374,365,292
unique,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
top,democrat,n,y,y,n,y,y,y,y,n,y,n,n,y,y,n,y
freq,239,211,177,224,220,193,248,206,215,188,194,241,210,192,225,214,236

## Algorithm
Train
Save 
for each prediction class name - ['republican']['mx-missile']['y']

We need a way to keep the probabilities for each column value

In [16]:
dict = {}

In [17]:
dict['democrat'] = {}

In [18]:
dict['democrat']['mx-missile'] = {}

In [19]:
dict['democrat']['mx-missile']['y'] = 0.4

In [20]:
dict['democrat']['mx-missile']['y']

0.4

In [138]:
class NaiveBayes:
    
    #Calculate value probabilities
    def __init__(self, df, yColumnName):
        #Probability for each predict value
        self.predictValueProbability = {}

        for predictValue in df[yColumnName].unique():
            predictValueProbability[predictValue] = len(df[(df[yColumnName] == predictValue)]) / len(df) 

        #Probability for each column value    
        self.columnValueProbabilities = {}

        #All unique values that could be predicted
        for predictValue in df[yColumnName].unique():
            probabilities[predictValue] = {}

            #All columns
            for columnName in df.columns:
                probabilities[predictValue][columnName] = {}

                #All unique values a column has
                for columnValue in df[columnName].unique():
                    predictValueCount = len(df[(df[yColumnName] == predictValue)])
                    predictValueWhichAreColumnValue = len(df[(df[yColumnName] == predictValue) & (df[columnName] == columnValue)])
                    probability = predictValueWhichAreColumnValue / predictValueCount

                    probabilities[predictValue][columnName][columnValue] = probability
        
    #def Predict(row):
        #calculate for each prediction possibility
        
        #return best
        
    def Print(self):
        print(predictValueProbability['democrat'])

In [139]:
nb = NaiveBayes(trainSet, 'Class Name')

In [140]:
nb.Print()

0.6112531969309463

In [101]:
#Probability for each predict value
predictValueProbability = {}

for predictValue in df['Class Name'].unique():
    predictValueProbability[predictValue] = len(df[(df['Class Name'] == predictValue)]) / len(df) 

#Probability for each column value    
probabilities = {}

#All unique values that could be predicted
for predictValue in df['Class Name'].unique():
    probabilities[predictValue] = {}
    
    #All columns
    for columnName in df.columns:
        probabilities[predictValue][columnName] = {}
        
        #All unique values a column has
        for columnValue in df[columnName].unique():
            predictValueCount = len(df[(df['Class Name'] == predictValue)])
            predictValueWhichAreColumnValue = len(df[(df['Class Name'] == predictValue) & (df[columnName] == columnValue)])
            probability = predictValueWhichAreColumnValue / predictValueCount
            
            probabilities[predictValue][columnName][columnValue] = probability

In [84]:
probabilities['democrat']['mx-missile']['y']

0.704119850187266

In [68]:
pd.crosstab(df['Class Name'], df['mx-missile'])

mx-missile    n    y
Class Name
democrat     60  188
republican  146   19

In [76]:
len(df[(df['Class Name'] == 'democrat') & (df['mx-missile'] == 'n')])

60

In [77]:
len(df[(df['Class Name'] == 'democrat')])

267

In [50]:
for value in df['mx-missile'].unique():
    print(value)

n
y
nan

In [88]:
predictValueProbability = {}

for predictValue in df['Class Name'].unique():
    predictValueProbability[predictValue] = len(df[(df['Class Name'] == predictValue)]) / len(df)

In [89]:
predictValueProbability['democrat']

0.6137931034482759